

.header {
  background-color: #343a40;
  color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #dee2e6;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.header-title:hover {
  color: dodgerblue;
  transition: background-color 0.2s ease;
  cursor: pointer;
}